[2016-08-27 12:48] vutran opened #1 "Add build/package scripts"

[2016-08-27 12:50] vutran opened #2 "Hook ENTER key into action"

[2016-08-27 12:51] vutran opened #3 "Create an app icon"
Currently working with a designer to create an icon for the app.

[2016-08-27 18:51] #1 closed

[2016-08-27 23:12] vutran opened #4 "Add styling to scrollbars"
Default scrollbar is too big and clunky.

[2016-08-28 02:05] #2 closed

[2016-08-28 06:10] vutran opened #5 "pref/optimizations"

[2016-08-28 08:18] vutran opened #6 "Separate dpm"
App may not be necessarily targeted for developers in the end so we can move the dext package manager to a separate module. Leaving this open to allow further discussion.

[2016-08-28 21:01] vutran opened #7 "debounce queries"
Limit the rate of executing queries to prevent multiple child processes from being forked.

[2016-08-28 21:10] vutran opened #8 "cache queries"
Queries can be cached for a short duration to prevent forking of new process too often. Plugins can expect to have their own cache store.

[2016-08-28 21:18] vutran opened #9 "core plugins"
Provide a core extension to create internal plugins that can return items based on the global query. This will allow us to create a calc by evaluating the full query (eg: `1+1`) without a necessary keyword.

[2016-08-29 18:00] vutran opened #10 "add type annotations (typescript or flowtype)"
open for discussion on what to use. ideally creating a definition file for TypeScript in the `dext-core-utils` repo could be a great start for us.

[2016-08-30 00:28] #8 closed

[2016-08-30 01:35] #7 closed

[2016-08-30 05:31] vutran opened #11 "rename plugin output to execute to allow for future action commands"
Plugins API currently makes a call to `output()`. This won't make sense going forward should we implement action-based commands. Renaming to `execute` may fix the issue since it may not be "outputting" anything.

`output` should be kept and update to route to the new `execute` method.

[2016-08-30 05:54] vutran opened #12 "Add React DevTools"
https://github.com/electron/electron/blob/master/docs/tutorial/devtools-extension.md

[2016-08-30 05:56] vutran opened #13 "Apply line-clamp to resultTitle"
Some titles gets too long using the `dext-hackernews-plugin` so we need to apply the `-webkit-line-clamp` css property to the `resultTitle` class. Refer to `resultSubtitle` for example.

[2016-08-30 17:16] #13 closed

[2016-08-30 18:08] vutran opened #14 "Website Build"

[2016-08-30 21:07] vutran opened #15 "Add new Icon component"
- Retain support for regular file paths and URL's
- Add support for placeholder letter icon with a background color

[2016-08-30 21:08] vutran opened #16 "Allow app window to be sharp or rounded edges"
Some people just prefer sharp corners.

[2016-08-30 21:25] vutran opened #17 "Add production webpack config"

[2016-08-31 01:08] vutran commented on #9
Merged with a calculator plugin.

[2016-08-31 01:08] #9 closed

[2016-08-31 04:44] #11 closed

[2016-08-31 05:28] #6 closed

[2016-08-31 14:45] #4 closed

[2016-09-01 01:00] vutran opened #18 "keyboard selection should auto-scroll window"
When viewing a long list of results, keyboard <kbd>up</kbd> and <kbd>down</kbd> should scroll the window if necessary.

[2016-09-01 01:04] vutran opened #19 "show window initially on startup"
When the app starts, the window should open by default.

[2016-09-01 01:18] vutran opened #20 "Create installer and package"

[2016-09-01 18:02] aharris88 opened #21 "Installation Issue"
I installed dext with `npm install dext -g`, and for some reason I can't get it to open. I changed the Spotlight shortcut to Alt+Cmd+Space, and I even tried restarting my mac to see if it would work. Also, I don't have Alfred or any other launcher installed.

[2016-09-01 18:20] vutran commented on #21
Hi,

An installer is not yet available for this app. I'm still looking for contributors to help out in this area.

I have just packed the latest version from master in which you can download via the instructions [here](https://github.com/vutran/dext#install).

[2016-09-01 19:30] vutran opened #22 "Add keyword helper"
When typing, display some info on what the user is currently doing. (Example: which plugin filter is it searching, etc.)

[2016-09-01 22:08] #21 closed

[2016-09-01 23:01] vutran opened #23 "add alternate plugin execution command"
Alfred has the ability to execute alternate command if holding down the <kbd>alt</kbd> button.

This will be a new property for each `item`.

[code]

- Holding down <kbd>alt</kbd> will trigger `mods.alt` and display the given `subtitle`
- Holding down <kbd>cmd</kbd> will trigger `mods.cmd` and display the given `subtitle`
- Not holding anything down will trigger the regular action and subtitle

[2016-09-01 23:03] vutran opened #24 "Add ability to change the toggle key"
Sometimes you already have <kbd>cmd</kbd> + <kbd>space</kbd> already registered to another app. Allow a way for the user to change their key bindings to another combination.

[2016-09-01 23:06] #19 closed

[2016-09-02 00:12] #15 closed

[2016-09-02 02:17] #17 closed

[2016-09-02 05:58] vutran opened #26 "write some tests"
Looking at either `ava` or `jest` for testing.

[2016-09-02 06:54] vutran commented on #22
Completed.

A `helper` property can be specified in each plugin module that follows the [item schema](https://github.com/vutran/dext/blob/master/docs/PLUGINS.md#item-schema).

<img width="754" alt="screen shot 2016-09-01 at 11 52 17 pm" src="https://cloud.githubusercontent.com/assets/1088312/18195247/2732c48a-709f-11e6-8dbe-d0ead0dae295.png">

[2016-09-02 06:54] #22 closed

[2016-09-02 14:35] vutran opened #28 "Ability to manage configurations"
Create a core plugin that interfaces with [`dext-core-utils`](https://github.com/vutran/dext-core-utils/) to allow updating configurations via the Dext Bar.

[2016-09-03 17:13] adnasa opened #31 "UX: Hide window on the key ESC"
it's only natural that the app hides/closes when the user hits ESC,
dext doesn't do this atm

[2016-09-03 17:35] adnasa commented on #24
Would this be pure configuration (as in config on file-format) or are you considering a preference menu (like every other app out there)? 😉

[2016-09-03 18:27] vutran commented on #24
I'm open to both options. A preference window would probably make more sense if we want to target non-developers. If it's  preference window, I was considering using my [`react-jsonschema`](https://github.com/vutran/react-jsonschema) to scaffold the forms but don't want the material-ui that comes with it.

[2016-09-03 19:43] adnasa commented on #31
Closing this since the related PR is about to be merged

[2016-09-03 19:43] #31 closed

[2016-09-03 21:01] vutran opened #34 "Clear query and results when the window is shown"
Whenever the window is shown, query and results should be cleared.

[2016-09-04 03:43] vutran commented on #26
Initial setup with `jest` is up with some simple tests. Feel free to write more tests so we can get better coverage.

[2016-09-04 03:43] #26 closed

[2016-09-04 03:52] vutran opened #35 "Redux connected containers should not be rendered in a component"
This makes it difficult to write some snapshot tests.

**_Reference:**_ `<ResultList />` produces children contained of `<ResultItemContainer />` which is connected to a redux store.

Will keep this open for discussion on what options are available aside from a single root-level connected container.

[2016-09-04 04:14] vutran commented on #35
One way is to just wrap it in a `<Provider>` with a fake store. ([reference](https://twitter.com/dan_abramov/status/772284903425662976))

[2016-09-04 10:47] adnasa opened #38 "UX/DX discussion: Check out possibility to have dev tools in separate window (by default)"
I already found it mildly frustrating to _try to_ inspect the application through webkit's devtools

I think you can see why 😜
![dev-tools](https://cloud.githubusercontent.com/assets/462507/18230471/96c1b596-729c-11e6-9ba5-8e72b88a3716.jpg)

This also affects my train of thought when checking through the state

**with results**
![good height](https://cloud.githubusercontent.com/assets/462507/18230

[2016-09-04 17:42] vutran commented on #38
This is one of the frustrations I have during the development as well but I kept putting it off. I knew it would be caught by someone else 😂

I'm for this option as it would greatly enhance the DX.

[2016-09-04 17:45] adnasa commented on #38
I haven't considered deeply how we manage this, tbh.
since the app is only an <kbd>input</kbd> field 😖

one option (might be a bad, but we're going to have to try) is that when it is in dev mode, not only is it open at all times, but the app consists of the input + list (even) in window of a specific size, then at least it'll make it a bit easier...

we're going to have to sleep on this and look a

[2016-09-04 21:05] vutran opened #41 "Extended Details/Panel"
Allow items to open an extended details/panel for displaying rich content similar to Spotlight (reference screenshot below).

May be of use for some plugins such as [`dext-giphy-plugin`](https://github.com/adnasa/dext-giphy-plugin) to display a quick view of the larger image.

<img width="652" alt="screen shot 2016-09-04 at 1 59 47 pm" src="https://cloud.githubusercontent.com/assets/1088312/182338

[2016-09-04 22:14] adnasa commented on #41
A moment of honesty, I've never used Alfred myself. I've used QS my whole life
Don't forget to look into [QS](http://qsapp.com), we may pick some gems from that amazing app 😉

[2016-09-04 22:16] adnasa commented on #41
This is a great idea btw

[2016-09-05 00:48] vutran commented on #41
I've used QS way before Alfred but open to pull some features as Dext evolves.

It would probably be better for <kbd>tab</kbd>to be reserved for some sort of autocompletion module so you can drill down into specific sub-commands within a plugin.

Will keep this open for discussion for the best UX.

[2016-09-05 06:20] adnasa commented on #41
a moment of honesty: I __still__ use QS (never actually tried Alfred) :bowtie: I'm old school like that :bowtie:

[2016-09-05 22:39] vutran commented on #34
Closing this as this was handled here (b5980e40e30d238844f39e71c3541de71ef4bd56)

[2016-09-05 22:39] #34 closed

[2016-09-06 00:56] vutran commented on #18
Fixed 2a6c9d2a24ca240671a7de5f4b5c322023f14396

[2016-09-06 00:56] #18 closed

[2016-09-06 08:42] adnasa commented on #18
nice!

[2016-09-07 21:52] vutran commented on #41
WIP.

<img width="823" alt="screen shot 2016-09-07 at 2 51 15 pm" src="https://cloud.githubusercontent.com/assets/1088312/18329904/9d7416de-750a-11e6-924b-548dd2bc2ef2.png">

[2016-09-07 22:20] adnasa commented on #41
whoa!
so dext allows for plugins to implement their own renderer now, right?

[2016-09-07 22:58] vutran commented on #41
The API will be updated to allow plugins to define their own `render()` function. For now, it will probably accept an HTML string, or markdown but will hopefully allow for React components in the future.

[2016-09-07 23:22] #24 closed

[2016-09-08 04:14] simonwjackson opened #46 "Windows version"
I'd like to contribute to getting this working on windows. What do you think the biggest hurdles will be for getting this to work cross platform?

[2016-09-08 05:05] vutran commented on #46
Hi @simonwjackson I don't think it would be too difficult port it to Windows since a lot of the internals are handled within Node. We'll just have to make sure some of the core plugins such as [`dext-core-plugin-bookmarks`](https://github.com/vutran/dext-core-plugin-bookmarks) support Window paths since it currently is reading to Mac specific directories.

I haven't tried launching this on Windows

[2016-09-08 06:54] vutran commented on #41
This has been [merged](51f90d2c63946686d4042b5da5e18aec26e5289e) into `master`.

[2016-09-08 06:54] #41 closed

[2016-09-08 14:19] vutran commented on #46
I've actually just cloned the repo on my Windows 7 machine and it actually launched without any hiccups. 😎

Perhaps you can help by enabling the packaging scripts to build an executable for Windows.

[2016-09-09 20:30] vutran opened #49 "Add support for Alfred themes"
Alfred themes doesn't follow CSS specifications. We'll need to provide a layer to map their structure over to our theming API.

[2016-09-11 21:25] vutran opened #52 "Plugin API: renamed execute to search?"
A bit going back on my words (#11) but it may make more sense to renamed `execute` to `search`.

This would allow us to use `execute` in the future for executing a specific item.

Example would be something like this:

[code]

This will be a breaking change but since it's still early, we should migrate and just alias/deprecate `execute`.

[2016-09-11 21:32] adnasa commented on #52
I think migrating `executing` a targeted item is a good idea and I'm all for this! 👍

However, I don't agree that `search` is the right term here because I don't see <kbd>dext</kbd> only to be used for search purposes to different source, although that's what we do today and so far a which is a good first step.

I would prefer `query`, because then it is ambigious, generic and every plugin can int

[2016-09-13 00:28] vutran opened #53 "Update core screensaver to use new module"
I've extracted the screen-saver to a standalone module: https://github.com/vutran/screen-saver

Core plugin needs to be updated to utilize this module.

[2016-09-13 04:18] #53 closed

[2016-09-15 14:41] UltCombo opened #55 ""Esc" key does not work in other applications while Dext is running"

[2016-09-15 20:24] adnasa commented on #55
hello @UltCombo
thanks for you report, but this should have been resolved already => 4ff11c4

note that this is not released yet

---

if you cloned dext, update master please :)

[2016-09-15 20:25] UltCombo commented on #55
Oh ok, thanks!
Nice work on this app, btw. 😄

[2016-09-15 20:25] #55 closed

[2016-09-15 20:26] adnasa commented on #55
@UltCombo thank you 👍 😉

[2016-09-16 21:10] adnasa opened #58 "correct eslint-errors"
[code]

[2016-09-20 04:49] vutran commented on #58
Indirect references causes lint errors. We would just need to reference the props directly.

Issue report here: yannickcr/eslint-plugin-react#833

[2016-09-24 00:49] adnasa opened #64 "Plugin API: 3rd party plugin being queried despite being disabled"
Even though I have a plugin disabled (e.g `dext-giphy-plugin`), I can still query to it because of its existence in `.dext/plugins`

So this is what my `config.json` looks:

[code]

Dext should be aware of which plugins are enabled/disabled (not sure if it is already atm) by checking what is in the `plugins` key of the config

[2016-09-24 00:50] adnasa commented on #64
Added now to the [project](https://github.com/vutran/dext/projects/1)

[2016-09-24 00:56] adnasa commented on #52
@vutran Changed this from discussion to enhancement, since I take that we proceed with this (?)

[2016-09-26 16:47] vutran commented on #52
Yeah, we can proceed with this for next release.

[2016-09-27 00:38] vutran commented on #58
Merged #62

[2016-09-27 00:38] #58 closed

[2016-09-27 06:51] vutran opened #68 "screensaver not executing within an asar archive"
Screensaver works when booting the app in development mode but when starting from an asar archive, it will not execute, probably due to asar being a virtual directory.

May be related to: electron/electron#2708

More info: http://electron.atom.io/docs/tutorial/application-packaging/#executing-binaries-inside-asar-archive

[2016-09-30 20:41] vutran opened #75 "Remove rule that allow trailing white-space"
Update `.editorconfig` to allow trimming trailing white-space for `.md` files

[2016-10-01 00:04] vutran opened #77 "Add MIT badge to README"
Add this badge to the README file: ![](https://img.shields.io/badge/license-MIT-blue.svg)

[2016-10-01 01:13] #77 closed

[2016-10-01 01:13] adnasa commented on #77
Merged.

closing...

[2016-10-01 01:14] #75 closed

[2016-10-01 02:24] vutran opened #80 "Add test/spec for SELECT_ITEM reducer"
We need to write a spec for the reducer: `app/renderer/src/reducers/selectedIndex.js`

Test file: `__tests__/app/renderer/src/reducers/selectedIndex.js`

[2016-10-01 02:28] vutran opened #81 "Add test/spec for missing action creators"
We need to write tests for these action creators:

 - `resetDetails()`
 - `closeDetails()`
 - `openDetails()`

Test file: `__tests__/app/renderer/src/actions/creators.js`

[2016-10-01 06:06] walkerrandolphsmith commented on #81
I can take a stab at it. @vutran

[2016-10-01 06:50] vutran commented on #81
@walkerrandolphsmith This has been done in #82. However, check back in a few days as I plan on creating or #hacktoberfest issues. 👍

[2016-10-01 18:28] walkerrandolphsmith commented on #80
@vutran I will tackle this one!

[2016-10-01 18:30] walkerrandolphsmith commented on #80
well looks like it has already been done... :)

[2016-10-01 18:39] walkerrandolphsmith commented on #80
I have create a pull request that writes specs for the selectedIndex reducers handling of actions with type `SELECT_ITEM` [here](https://github.com/vutran/dext/pull/84).

[2016-10-02 00:47] adnasa commented on #20
description on this please?
If this refer to released package, I think we can close this

[2016-10-02 00:48] adnasa commented on #10
I don't think this is necessary at all, IMO

[2016-10-02 00:50] adnasa commented on #46
Is this still an issue?

[2016-10-02 02:45] simonwjackson commented on #46
Wow, i only just got notified of a reply to my issue just now (almost a month later)

I'll install this now, and see how far i can push it

[2016-10-02 06:16] vutran commented on #20
Hi, I forgot what this was actually. I think it was created to create some sort of dmg package.

[2016-10-02 16:41] simonwjackson commented on #46
@vutran I just cloned the latest version, ran `npm run dev` and got the following error:

<img width="401" alt="capture" src="https://cloud.githubusercontent.com/assets/189379/19022088/2d12c130-8895-11e6-84c0-6e16c0d4043b.PNG">

[2016-10-03 21:28] adnasa commented on #52
After looking further, I'm not sure [whether this](https://github.com/vutran/dext/blob/develop/app/main/index.js#L59-L75) makes sense anymore if we let plugins execute their own item

[2016-10-03 21:41] vutran commented on #52
`execute` currently returns/resolves an object of `items`. This is different from the actual execution of a single item. The goal of this issue was to allow `query` be our new endpoint to return these items and delegate `execute` for something else in the future.

[2016-10-03 21:57] #81 closed

[2016-10-03 22:05] vutran commented on #52
Closing.

[2016-10-03 22:05] #52 closed

[2016-10-03 22:08] vutran commented on #46
Looks like an issue in `repositionWindow` where height is not specified.

[2016-10-03 22:13] adnasa opened #89 "Correct indentation of app/renderer/index.html"
Indentation is weird on `app/renderer/index.html`

[2016-10-03 22:16] vutran opened #90 "Friendlier deprecation notices"
With the introduction of #88 , we'll need to have friendly deprecation notices. Let's use this ticket to see what we want for future alerts of this type.

Ideally, I'd like to see something like [create-react-app](https://github.com/facebookincubator/create-react-app).

[2016-10-03 22:17] smddzcy commented on #89
leave this one to me 👍

[2016-10-03 22:19] adnasa commented on #89
thank you, please keep in mind to indent with <kbd>2 spaces</kbd>.
you can use the auto in atom 😆

[2016-10-03 22:30] #89 closed

[2016-10-03 22:43] adnasa opened #92 "DX: Consider using NODE_PATH"
I think that it is time that we start considering setting [`NODE_PATH`](https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders) to set a specific folder as the source of truth for loading modules, beyond the `node_modules` folder.

The aim is to the have the following (_example_)

**before**

[code]

**after**

[code]

[2016-10-03 22:50] vutran commented on #92
It looks like `NODE_PATH` was deprecated a while back.

[2016-10-03 22:55] adnasa commented on #92
Leaving this open, until we've found a better option then.

[2016-10-03 23:03] adnasa commented on #92
this is only thing I found discussing this issue in depth
https://github.com/nodejs/node/issues/1627#issuecomment-102186359

[2016-10-04 08:06] #80 closed

[2016-10-06 05:02] Sylphony commented on #46
Out of curiosity, is there a way to bring back the window after it closes while in dev mode?  `globalShortcut` seems to be unregistered upon window close meaning there doesn't seem to be a way to bring it back unless the `dev` script is ran again.

[2016-10-09 07:52] vutran opened #96 "Fix docs for new plugin query API"
Since the introduction of #52 , we need to update the docs to reflect the new `query` method.

[2016-10-09 09:11] vutran opened #98 "Copy to Clipboard Alert"
When using the clipboard functionality, it is hard to know if it had actually been executed. We need some sort of indicator that an item has been copied to the clipboard.

[2016-10-09 17:09] #96 closed

[2016-10-10 16:34] jaysonthepirate opened #101 "Calc plugin should copy to clipboard when ENTER is pressed"
A common use for a calculator is taking the number and copying it into some form or document. If I use dext as a calculator this isn't possible as clicking away from dext erases the answer.

[2016-10-10 16:39] vutran commented on #101
We should add a new plugin action that allows copy to clipboard. I believe @adnasa made a PR in the past for this here: #39.

It may be worth it to re-open that since I can see this being useful for [dext-emoji-plugin](https://github.com/vutran/dext-emoji-plugin) as well since.

[2016-10-10 16:41] adnasa commented on #101
I recall that we discussed that we should copy through __mods__ and not through a specific action defined by the plugin

[2016-10-10 16:49] vutran commented on #101
`mod` was for alternative title/subtitle/args.

We went with the Alfred flow if <kbd>cmd</kbd> + <kbd>c</kbd> instead of <kbd>enter</kbd> but since some of our plugins doesn't necessarily require an action of `openurl` or `exec`, it may make sense to expose the implementation you did previously as well. I think this will provide a better user experience since some people may just hit <kbd>enter</k

[2016-10-10 17:16] vutran commented on #92
I've been thinking of this and perhaps using `webpack`'s `resolve.root` or `resolve.moduleDirectories` would work. An idea would be using the package name `dext` for absolute imports.

**before**

[code]

Otherwise, we can split it based on the Electron process (main/renderer)

[code]

[2016-10-11 16:44] vutran opened #102 "Build with yarn"
Considering adding support for [yarn](https://github.com/yarnpkg/yarn) cause this thing is ridiculous fast! We'll need to commit the generated `yarn.lock` file as well as updating documentations for installing with `yarn`.

[2016-10-11 23:05] vutran opened #103 "Close issues board on related repos"
It may be best to work towards closing all open issues in the other board, and disabling it so we can funnel all issues into this repo for better maintainability.

Open for discussion.

[2016-10-12 00:58] #103 closed

[2016-10-12 06:13] #102 closed

[2016-10-16 20:55] #23 closed

[2016-10-19 01:20] vutran commented on #68
Merged #108

[2016-10-19 01:20] #68 closed

[2016-10-22 01:59] #64 closed

[2016-10-30 20:56] #101 closed

[2016-11-06 02:29] zeke opened #116 "This is awesome!"
Just came across Dext. Such a cool project. I'm a long-time Quicksilver/Alfred/Spotlight user, so an extensible Electron app inspired by these concepts really appeals to me. :)

I would love to see this on the Electron website. @vutran would you care to open a pull request?

https://github.com/electron/electron.atom.io/blob/gh-pages/CONTRIBUTING.md#adding-an-app-or-project-to-the-site

[2016-11-06 03:01] vutran commented on #116
Hi @zeke, thanks for the kind words! Definitely sounds good. I'm still working on a logo/icon/site for Dext so I have been holding out till that is done before opening a PR.

[2016-11-06 03:49] zeke commented on #116
:+1:

[2016-11-07 19:50] zeke commented on #28
👍  This would be nice. Currently sitting at a blank input and not sure how to install plugins to make it  do stuff.

[2016-11-08 06:18] #3 closed

[2016-11-08 06:34] vutran commented on #116
@zeke Officially submitted! 🎉

[2016-11-08 09:02] arthur801031 commented on #16
@vutran  May I work on this?  I'm a first time contributor to dext.

[2016-11-08 14:24] vutran commented on #16
Sure, go ahead. 👍

[2016-11-10 01:26] arthur801031 commented on #16
@vutran  I've tried changing the borderRadius attribute in 'app/renderer/src/components/App.js', but it didn't affect the window's edges. Are the edges round because of the operating system's default setting? If so, how do we change it? Thank you!

[2016-11-10 01:57] vutran commented on #16
@arthur801031 I thought the same. It may be an operating system issue limitation. The only way I can actually see us achieving sharp edges is to allow transparent windows via Electron, and build the rounded edges as an HTML container.

[2016-11-10 02:04] arthur801031 commented on #16
@vutran  I'm not familiar with Electron. How should we go about doing this? Could you please provide some guidance? Thank you!

[2016-11-10 04:29] #20 closed

[2016-11-10 04:31] vutran commented on #16
Sure, I'll see if I can outline something out for you in the next few days as I'm quite busy at the moment.

[2016-11-10 06:53] W0lfw00d commented on #16
Haven't tried it yet but it seems to be a setting of the browser window:
[code]

[2016-11-11 01:41] vutran commented on #16
To add to @W0lfw00d comment, you would also want make the window transparent. Then, we can use CSS to create a white background container and handle adding or excluding the border-radius with pure CSS.

[2016-11-11 02:45] arthur801031 commented on #16
@vutran  @W0lfw00d  I tried adding `transparent: true,` to BrowserWindow's options in index.js, but it had no effect on the color or look of the window.

[2016-11-11 05:18] vutran commented on #116
😎

[2016-11-11 05:18] #116 closed

[2016-11-11 05:23] zeke commented on #116
💃

[2016-11-11 05:47] vutran commented on #16
@arthur801031 Try modifying the `<body>` background color to transparent, then make the app container colored with a border radius. Though I'm not sure if this would actually resolve the issue as I never really tried transparent windows yet.

[2016-11-11 07:22] arthur801031 commented on #16
@vutran  I got it to work now!
<img width="774" alt="screen shot 2016-11-11 at 3 06 26 pm" src="https://cloud.githubusercontent.com/assets/4562118/20207190/7aa0f7f0-a820-11e6-9b6e-10da18dc5979.png">

I didn't modify the `<body>` background color. It didn't work because the app container's width was 100%, so the sharp edges were covered by the window even though it was transparent. Therefore, I set

[2016-11-11 07:35] vutran commented on #16
I just tried it out and it works perfectly! Also applied a `borderRadius` in a custom theme and it works as well.

Thanks for the awesome PR @arthur801031 !

[2016-11-11 07:42] #16 closed

[2016-11-12 00:50] vutran commented on #98
We can use the native [desktop notifcations API](http://electron.atom.io/docs/tutorial/desktop-environment-integration/#notifications-windows-linux-macos) for this.

[2016-11-14 04:50] z3t0 commented on #14
i'd love to help, what is this issue about though? :smile:

[2016-11-14 04:50] z3t0 commented on #5
do we have any way to measure profile performance?

[2016-11-14 05:54] vutran commented on #5
Not at the moment but am open for any thoughts/suggestions on how we can do this.

[2016-11-14 05:56] vutran commented on #14
This will just be a simple GitHub Pages site built for the app to showcase the application features, and resources.

[2016-11-14 20:51] z3t0 commented on #5
Okay then I'll take a look into this. Also I noticed that it lags when typing is that intentional?

[2016-11-14 22:16] z3t0 opened #118 "Creating Packages"
Hi,

So I am trying to create a [plugin](https://github.com/z3t0/dext-term-plugin) for dext and have a few questions.

1. How do i get dext-cli to detect my plugin? I have published it to [npm](https://www.npmjs.com/package/dext-term-plugin) but it doesn't show up when doing `dpm s term`
2. Is there a more efficient way to develop plugins? That is without republishing each time? I know that there'

[2016-11-14 22:16] z3t0 commented on #98
What clipboard functionality is this referring to? I'm new to this project so don't really know what that means

[2016-11-14 22:17] z3t0 commented on #14
Wouldn't using the site generator with the README.md be sufficient for now?

[2016-11-14 22:26] brpaz opened #119 "Linux version"
First of all, this project looks really good.
I was looking for a tool like this for some time.
Dont know if you know [hain](https://github.com/appetizermonster/hain)? its a similar project to dext but seems to have few activity in last months so I think I will opt with dext.

I have cloned the repo and have its working fine in Linux with Linux mint 18 with cinnamon.

Just have an issue, not sure

[2016-11-14 22:39] brpaz commented on #5
Yeah, noticed that lag also.

[2016-11-14 23:12] z3t0 commented on #119
maybe create a second issue for this with a screenshot so other linux users are aware, also if there's a linux label that might be useful

[2016-11-14 23:16] vutran commented on #5
I believe I had debounced the query function for a few milliseconds a while back. I'm open for any suggestions on perf.

[2016-11-14 23:26] vutran commented on #119
I was looking for a tool like this for some time.
Dont know if you know hain? its a similar project to dext but seems to have few activity in last months so I think I will opt with dext.

Thanks for the awesome words. I noticed Hain is also an Electron powered launcher as well. I believe the goals are for Windows users. Our plans for Dext is to be cross platform and also be compatible with Alfred

[2016-11-14 23:26] z3t0 commented on #5
I guess the first step is to figure out some way to quantitatively profile performance.

I'm still trying to figure out how the build process works, for example what is the purpose of webpack?

The app seems to run a lot faster and without type lag when just doing `electron .` im not sure why?
@brpaz can you try doing the same where you run it off electron directly?

Also I might just be making th

[2016-11-14 23:29] vutran commented on #98
@z3t0 Users have the ability to copy items to the clipboard.

Example: using the calculator plugin, <kbd>cmd</kbd> + <kbd>c</kbd> would copy the answer to the desktop's clipboard.

More information can be found [here](https://github.com/vutran/dext/blob/develop/docs/PLUGINS.md#textcopy).

[2016-11-14 23:37] vutran commented on #118
Your plugin's `package.json` should contain a `dext-theme` or `dext-plugin` in the `keywords` list. ([see here](https://github.com/vutran/dext-core-utils/blob/develop/src/utils/search.js#L9))

The best method for dev is to use `dpm link` and `dpm unlink`. It works like `npm link` and `npm unlink`. This will allow you to easily create symlinks from your working project's directory to the `~/.dext/p

[2016-11-14 23:48] z3t0 commented on #98
Ahh I see, thank you for the explanation

[2016-11-14 23:58] z3t0 commented on #118
Okay so I am trying to understand how I can adapt `action` to do something. Lets say instead of one of the options provided, I'd like the plugin to execute a function, I can't seem to figure out how that is done

[2016-11-15 00:40] vutran commented on #118
You can use the `exec` action which will spawn a child process. See how we did this on the [screensaver plugin](https://github.com/vutran/dext/tree/develop/resources/plugins/screensaver).

[2016-11-15 01:08] z3t0 commented on #118
Okay but that may not be ideal since it doesn't allow arguments to be passed along? I've made a modification that allows that and will commit after some more testing

[2016-11-15 02:50] vutran commented on #118
@z3t0 `exec` actions currently doesn't support sending extra args to the new process but this would be a great addition. I'd like to see how you solve your issue when it's ready and perhaps we can merge it into core? Open for thoughts.

[2016-11-15 03:05] vutran commented on #5
`webpack` is primarily used for transpile the `renderer` bundle mainly for ES6 imports + JSX.

(Note: `app/renderer/src` transpiles to `app/renderer/lib/bundle.js` which is loaded in `app/renderer/index.html`.)

The `main` process is not transpiled as it is using currently available Node features.

Also, there's a 500ms debounce ([here](https://github.com/vutran/dext/blob/6a40713b8644c9f947b3d5cd2

[2016-11-16 01:26] z3t0 commented on #5
Is the debounce for the query being processed, or typing into the bar itself? Because the lag isn't for the query but rather when typing.

Not too sure, I'm just running `electron . --debug` in the root of the project?

[2016-11-16 01:35] vutran commented on #5
The denounce is to query. We may want to move that higher to the renderer so it doesn't hit the IPC calls.

[2016-11-16 02:19] z3t0 commented on #5
Oh I see, I'm still not sure however why just running `electron . --debug` does not cause a typing lag?

[2016-11-16 06:28] Tattomoosa opened #122 "Dext only sees web history"
I downloaded the app. Running Sierra on a mid-2010 macbook pro. My web history from chrome shows up when I search but no applications or files/folders.

[2016-11-16 16:36] vutran commented on #122
We currently don't have a plugin to fetch app results at the moment but it is in my todo list. I am open for a PR if you want to contribute towards making app discovery available.

[2016-11-16 17:44] z3t0 commented on #122
Is there a todo list somewhere i could start working on?

[2016-11-16 17:54] vutran commented on #122
Not publicly available at the moment. I'll see to get these added into the Projects tab this week.

[2016-11-19 06:18] #118 closed

[2016-11-19 06:19] z3t0 commented on #118
This has been answered

[2016-11-19 06:20] z3t0 commented on #14
I could get on to this if I am added as a contributor since I could just modify the generated page

[2016-11-19 06:31] vutran commented on #14
Welcome to the team!

[2016-11-19 06:33] vutran commented on #14
@z3t0 We do require all commits to be peer reviewed first through a PR instead of directly committing. Other than that, excited to have you on board.

[2016-11-19 06:34] z3t0 commented on #14
Thanks for the heads up, I'll be sure to commit to my fork and then create PRs, I just can't access the Settings page without being a contributor is all. Thanks!

[2016-11-19 06:44] vutran commented on #122
Closing this as the issue has been answered.

[2016-11-19 06:44] #122 closed

[2016-11-21 00:35] z3t0 opened #126 "Creating individual plugins for core plugins"
Is there any particular reason for having "core" plugins? In my opinion it would be easier to maintain them if they were separate. Also, those only interested in a particular feature would find it easier to say work on the screenshot plugin if it was its own project.

Thoughts?

[2016-11-21 00:36] z3t0 opened #127 "Locking master branch"
It may be a good idea to lock the master branch just in case in the future an untested commit is accidentally merged

[2016-11-21 01:13] vutran commented on #126
Open for discussions as I previously had core plugins externalized from the app. I bundled it into core since a lot of users expected the general functionalities available as part of the app.

[2016-11-21 01:40] vutran commented on #127
Both master and develop has been updated to be protected for force pushes and requires checks to pass (tests and coverage) before merging.

[2016-11-21 04:12] z3t0 commented on #126
That's a fair point, since it would be confusing for a lot of users if the core app can't do any of the things advertised.

Instead how about having a configuration file that would automatically download and update apps and etc?

E.g

[code]

essentially something similar to vim's plugin management (if you've used that before), or even a lot like npm package.json files.

Then we can supply a defau

[2016-11-21 04:38] z3t0 commented on #127
Awesome!

[2016-11-21 04:38] #127 closed

[2016-11-21 05:39] vutran commented on #126
I like that idea. Currently, we do have a way to manage plugins via the `~/.dext/config.json` file but it doesn't track  versions. This is something we'll need to expand on discussions if we want more granular control moving forwards. We do have plans for an easy to use settings window in the future which may make things easier since the `dpm` cli tool is more for power users

[2016-11-21 17:42] z3t0 commented on #126
It seems that the config.json already has support for keeping track of plugins, we simply need to add a built in packagement management tool for dext so that it can read the config file and auto install / update?

[2016-11-21 18:55] vutran commented on #126
We do have an external CLI tool [here](https://github.com/vutran/dext-cli) and I'm currently working on building an internal plugin that interfaces with this within the dext bar itself.

[2016-11-29 14:40] pacharanero commented on #119
I'm keen to help out with the Linux version. I'm testing on Linux Mint 18 Cinnamon.

I've forked the repo, cloned locally, done an `npm install` and launched from the `master` branch using `npm start`. Is this correct?

When I do that I get an error:

[code]

[2016-11-29 17:47] vutran commented on #119
@pacharanero I never knew Linux used floats for window positions. `Math.floor` would be easier to attract new contributors to follow since not many people know bitwise ops. The trade off is perf since `~~` is more performance than `Math.floor`.

[2016-11-29 19:36] pacharanero commented on #119
@vutran I think it's the division by 2 in the preceding few lines of code that is resulting in the float. I'll fix it with Math.floor and submit a PR

[2016-12-01 18:55] pacharanero commented on #119
Dext now works for me in Linux Mint 18, however it doesn't search or launch applications yet. (Kind of essential functionality in a Launcher!). I'd like to help implement this - which I presume is going to require OS-specific code - but I have no idea where to even start... Anyone else out there wanna join in on the Linux version?

[2016-12-01 19:22] vutran commented on #119
Ideally, we would want to create this as a core plugin. Take a look at the [plugin docs](https://github.com/vutran/dext/blob/develop/docs/PLUGINS.md) as a start on how to create a plugin. You can also reference the current [core plugins](https://github.com/vutran/dext/tree/develop/resources/plugins) for some working examples.

[2016-12-02 07:38] vutran opened #130 "App search"
This thread is to track the app search plugin originally mentioned in [here](https://github.com/vutran/dext/issues/119#issuecomment-264260245).

[2016-12-02 07:41] vutran commented on #130
I have started a new pkg called [os-apps](https://github.com/vutran/os-apps) which should be a good starting point for us.

It can currently retrieve a list of apps for Darwin systems.

Windows and Linux system still needs to be implemented.

[2016-12-10 16:01] brpaz opened #133 "[Question] execute command immediately after entered keyword (no need to specify query)"
Hello.
Its possible to run a command in dext immediately after typing the keyword without the need to enter any search query.

Ex: I am writing a plugin to display current IP address information. I just want to type "IP" and get the results immediately, without entering any search query.

[2016-12-10 21:17] vutran commented on #133
@brpaz, only core plugins can allow querying without the keyword. This is more to prevent an event where everyone makes a plugin that requires no keyword. I'm open for discussions on removing that restrictions for 3rd party plugins.

On a side note, you can look up plugin helper items. Helpers are displayed when the keyword is typed but not query is found. These are used for tips but can be used f

[2016-12-11 10:35] brpaz commented on #133
yes. I thought about using using the helper function. Will give it a try, but I can only display one item right?
Still, I think I can rewrite my IP plugin a bit to receive a search query, like "ip info", that could allow more options in the future.
I think all the other plugins I want to build allays need a search query.

Thank you.

[2016-12-11 18:20] vutran commented on #133
Correct, we are currently limited to 1 helper item but open for allowing multiple items to be returned if needed.

The lines where this is handled can be found [here](https://github.com/vutran/dext/blob/develop/app/main/plugins.js) at `queryHelper`. Feel free to submit a PR but we would want to present backwards compatibility to allow a single item or an array of items. 👍

[2016-12-19 05:33] kmf commented on #119
I would love a Linux version, is there any testing to be done?

[2016-12-24 09:55] brpaz commented on #119
@kmf I am running Dext on Linux Mint 18 and haven't found any issues.

[2016-12-24 10:02] brpaz commented on #133
Thanks to #137 its now possible to use Helper items to mimic this functionality.
It will be enough for me atm.

In the future, maybe we can discuss adding actions to helper items to make this even more complete.

[2016-12-24 10:02] #133 closed

[2016-12-24 11:11] pacharanero commented on #119
@kmf I think the bug I experienced on LM18 was due to my HiDPI screen, the window placement was for some reason returning an unexpected value. We've fixed this now.

@kmf but I would still regard the current lack of app search and launch as a fairly big issue! This is not yet implemented in Linux - see issue #130  (I have no clue how one goes about doing this either but would happily have a go if

[2016-12-25 22:29] vutran commented on #119
@pacharanero We have an open PR that is a WIP that you can check out [here](https://github.com/vutran/dext/pull/140).

[2017-01-11 04:31] vutran commented on #126
I want to pick this issue up again. Now that we are splitting up some of the core plugins into external packages, we'll need a way for Dext to automatically download and install pre-packaged plugins that is found in the `~/.dext/config.json` file.

[2017-01-11 05:35] mrjohnyhats commented on #5
Maybe this was just fixed since November, but I don't notice any lag at all when I'm using `electron .`, so if we launch the app for users with that, performance should be fine.

[2017-01-17 17:06] akz92 opened #151 "Hide from the dock and add context menu"
I believe that the app shouldn't appear on the dock and on the application switcher, like other apps of this kind. Besides that, it would be good to have a Context Menu on the Tray to provide a couple options like toggle and quit. Have you already discussed this?

I implemented this in [my fork](https://github.com/akz92/dext), if you want to take a look.

[2017-01-18 01:14] vutran commented on #151
@akz92 Those are great commits. Can you send a PR for them?

[2017-01-18 02:19] akz92 commented on #151
Sure!

[2017-01-18 09:11] #151 closed

[2017-01-24 01:55] Magellol commented on #98
Merged in #152 🎉

[2017-01-24 01:55] #98 closed

[2017-01-24 02:02] Magellol commented on #38
I'm up to keep this discussion open and eventually try something. I've caught myself making some modifications to app/main/index.js and stash them to be able to re-use each time I'm debugging the app.

<img width="1188" alt="screen shot 2017-01-23 at 8 58 56 pm" src="https://cloud.githubusercontent.com/assets/3819093/22230998/d7d6db48-e1ae-11e6-950a-6fb525e24af9.png">

Personally though my dev too

[2017-01-24 02:05] Magellol commented on #126
Just a thought:
Can't we extract them into their own repo/npm packages, making them dependencies of Dext and requiring them in the code. Maybe that'd solve the two issues (having them separated but at the same time still in the core functionalities)

[2017-01-24 02:13] vutran commented on #38
@Magellol I definitely feel the pain points of this during the initial development of Dext and this may have a huge role in gaining new contributors. My initial thought is to perhaps enclose the entire app into a container that acts like a regular browser and override the window hooks (like you have above) to toggle the inner container instead of the window itself.

I may take a look at this later

[2017-01-24 02:21] vutran commented on #126
I must have misinterpreted the original issue but I think what @z3t0 is referring to is an option for the app to automatically check and install plugins that are listed in the ~/.dext/config.json` file similar to how [Hyper](https://github.com/zeit/hyper) works.

Ways I can see this being beneficial for Dext:

- specify default plugins (per platform) on boot.
- users can save their `~/.dext/config

[2017-01-24 03:22] Magellol commented on #126
Oh my, I think _I've_ misinterpreted it then :) This all makes sense.

I think this bit mislead me.

That's why I thought about having separate NPM packages for them, which I still think could be interesting but may be out of this issue's scope.

[2017-01-24 17:15] Magellol commented on #38
@vutran Yeah that'd be interesting to do! I can check it out during this week :)

[2017-01-24 22:48] adnasa commented on #38
[on a side note](http://asciiflow.com/): I love your drawing @vutran

[2017-01-25 01:26] vutran commented on #38
@Magellol Looks like you're on the right track. We'll probably want to disable [transparencies](https://github.com/vutran/dext/blob/f311912013294ecccc9cbc49ae697c66ba391d0d/app/main/index.js#L324) as well in dev mode.

[2017-01-25 05:49] mrjohnyhats opened #159 "getting disabled plugins"
Hi,

I'm trying to make a small settings window for Dext, but this is my first project with electron and react so I might not be submitting a pull request for a week or two (currently a student working on this a little each day). One thing I wanted to implement is a checklist of every plugin in the` ~/.dext/plugins` path, but I noticed that `dext-core-utils` doesn't have a method for listing disab

[2017-01-25 06:34] vutran commented on #159
Can you clarify what you mean by disabling functions?

[2017-01-25 06:35] mrjohnyhats commented on #159
oops, meant a function that would fetch a list of all plugins in the directory instead of just the disabled ones

[2017-01-25 07:14] vutran commented on #159
Ah I see. I thought we had that already in `dext-core-utils` but I guess it's not there. Go ahead and give it a shot. Let me know if you have any questions or any difficulties. 👍

[2017-01-25 15:45] Magellol commented on #38
Awesome. I have a few ideas. Ideally I'd like to avoid throwing `env === 'development'` everywhere, so I'm thinking about a solution that'd load a browser window or another with some other params based on the env. That'd be way easier to change config later if needed.

👍

[2017-01-27 15:59] Magellol commented on #38
Just a little update. I'm still planning to tackle this, I have some demo code running. Although, I'm a little busier than usual that's why I couldn't do much these days but I will get to it for sure 👍 .

[2017-01-27 16:57] vutran commented on #38
@Magellol No worries. Take all the time you need. 😄

[2017-02-03 23:30] vutran opened #161 "Plugins should fallback to icon.png for items"
Plugins should load the `icon.png` (relative to the plugin's directory) as the last fallback if an icon is not specified in the resolved list of items.

[2017-02-04 02:49] #161 closed

[2017-02-04 03:24] vutran commented on #159
This is now resolved in https://github.com/vutran/dext-core-utils/pull/47

[2017-02-04 03:24] #159 closed

[2017-02-11 20:13] Magellol commented on #38
Hey guys. So I was able to allow some time to work on this issue but I think I'm heading into a rabbit hole and I will never get out.

I went with the idea of creating window factories (production and development in this case) and in which you'd define every piece of window behaviour you want such as:

[code]

With this method, we could create subsequent windows and make them inherit from the prod

[2017-02-14 19:02] adnasa commented on #10
Is this still necessary?

[2017-02-14 19:04] adnasa commented on #90
I'm not sure how useful this is,
from my POV, this app is still on early stage of development and is not mature enough to display deprecation notices.

[2017-02-15 19:29] vutran commented on #10
Nope. Let's stick to vanilla ES. No reason to add another layer of complexity by transpiling.

[2017-02-15 19:29] #10 closed

[2017-02-16 09:21] adnasa commented on #10
I know right, @vutran 😉

[2017-02-16 11:39] soredake opened #170 "Linux packaging error"
[code]

[2017-02-16 11:42] soredake opened #171 "yarn run build:prod error"
[code]

[2017-02-18 01:17] vutran commented on #130
Closing this as darwin app plugin is available [here](https://github.com/vutran/dext-darwin-applications-plugin). Any issues regarding app search can be opened within that repo.

[2017-02-18 01:17] #130 closed

[2017-02-18 01:23] vutran commented on #171
@soredake What version node are you running? Try removing the `node_modules` and re-running `npm install` or `yarn install` with the latest Node version.

[2017-02-19 01:38] mrjohnyhats commented on #126
not sure if this is the right thread to put this in, but I heard settings window mentioned so I [made one](https://github.com/mrjohnyhats/dext_settings_window) with react/redux/radium and served by electron. It's a bit barebones right now, but what is there should work, and adding new features shouldn't be too difficult.

[2017-02-28 04:53] mrjohnyhats opened #172 "settings window"
I made a [small settings window](https://github.com/mrjohnyhats/dext_settings_window) for dext. It's currently in the early stages, but it should give users an easier way to install plugins/themes.

[2017-02-28 05:58] vutran commented on #172
@mrjohnyhats This is amazing work. I'd like to help clean this baby up a little. Let me know where I can help.

[2017-03-02 03:35] mrjohnyhats commented on #172
First of all, thank you! It was a fun learning experience. Second of all, submit any changes you'd like, it would be great if the window was consistent with the rest of the project design and structure-wise, so that'd be a huge help.

[2017-04-01 21:11] #170 closed

[2017-04-01 21:11] #171 closed

[2017-06-14 16:13] justinpchang opened #174 "Core plugin calculator returns functions upon specific queries"
The calculator plugin queries the math.js library. Sometimes, as is the case with the queries 'help' or 'random', the math.js library returns a function instead of an error, so the function code is displayed because of the `.toString()` in line 12 of the index.js file of the calculator plugin.

I am unsure of how to submit a pull request to fix this bug, however a possible quick fix for this could

[2017-06-16 18:17] justinpchang opened #177 "Does the Alfred theme to Dext theme conversion tool have a place in dpm-cli or should it be it's own tool?"

[2017-06-16 18:29] vutran commented on #177
It should be within the `dext` repo. What we want is to map all values in the Alfred theme file to Dext's specs and allow `dpm-cli` to install themes from `packal.org`

[2017-06-16 22:11] justinpchang commented on #177
So someone should be able to do `dpm install http://www.packal.org/theme/pro-dark` then `dpm theme pro-dark` and it would update? I don't see any other way, because it seems like all the theme information is passed through a special Alfred URL on the theme page.

[2017-06-18 02:26] vutran commented on #177
That would be ideal. One thing to note is we should auto-detect a theme plugin and apply the theme automatically to skip the 2nd step.

[2017-06-25 07:42] vutran commented on #174
Solved in #175

[2017-06-25 07:42] #174 closed

[2017-10-31 18:17] adnasa commented on #38
What is the status of this now?
cc @vutran @Magellol

[2017-11-03 21:49] vutran commented on #38
@adnasa `dext` itself has been pretty inactive. Since the development of [`omnibar`](https://github.com/vutran/omnibar), I may think of doing a rewrite to utilize `omnibar` as the underlying search component for `dext` in the future.

[2018-01-28 06:41] yk-matsu opened #179 "How Can I start up dext app when I login to Mac"
I installed dext app and dext is really good. But When I launch dext app,  I have to lauch it  manually. For example "Open Finder > select dext app" or " Opne spotlight and  type dext". Are there anyway to startup automatically.

[2018-03-07 22:58] adnasa commented on #179
hey @anipro
This is a missing feature at the moment.

---

The harsh truth is that @vutran and I haven't been good at showing this project any love the past year.
At the moment I'm writing a draft where I'm proposing which parts of dext we need to focus our energy to ensure that dext itself, and all plugins that comes with it are much richer on a technical stand point.

I personally hope we can ad

[2018-03-10 09:51] adnasa commented on #172
@mrjohnyhats I love this initiative!
FYI, At the moment, I'm trying to conduct a [simple "road map"](https://gist.github.com/adnasa/fec7c66d39f700371262437bb22732ad) as to how dext would look like in the future.

One of the main features I want to see in Dext, is of course, the __settings window__!

Unfortunately, from my stand point, I see that the road to having the settings window in dext is a

[2018-03-14 22:11] adnasa commented on #92
Since we are considering `lerna` when we are going to consolidate our  packages, there is no need for this right now

[2018-03-14 22:11] #92 closed

[2018-03-27 16:53] jonathanlaf commented on #46
Is that still an issue ? I would like to jump in and make it windows compatible.

Thanks.

[2018-04-05 19:02] adnasa opened #186 "consider automating dep updates"
Naturally, since it's been a while since we continued on maintaining this project, a lot of our packages went (way) outdated.

with #184 merged in, the next is of course of to upgrade `babel-* -> @babel/*` and `webpack`. once these upgrades are done, we should start considering automating the update of deps; with the exception of `webpack`.

Upgrading webpack regularly could require constant re-fa

[2018-04-05 19:26] adnasa commented on #126
Hey guys,

I'm going to close this issue for a handful, some obvious reasons:

1. having core plugins as separate modules doesn't ease maintainability
2. I for one am a strong proponent for mono-repo, which in my experience validates point 1 (see example below). Within this mono-repo, we will consolidate all "core" plugins in one, along with dext itself
3. with a mono-repo, it will ease the releas

[2018-04-05 19:26] #126 closed

[2018-04-05 19:49] adnasa commented on #12
we already have this 😄
closing

[2018-04-05 19:49] #12 closed

[2018-04-06 19:26] adnasa commented on #46
@jonathanlaf thanks for jumping in. I welcome help on this, since I don't have a windows OS myself 😢

[2018-04-06 19:53] #38 closed

[2018-04-13 21:40] adnasa opened #188 "upgrade build"
- [ ] upgrade `babel-*`  packages to `@babel/*`
- [ ] given above, we would also want to upgrade `webpack`

[2018-04-13 21:51] adnasa opened #189 "have dedicated folders for modules"
At the moment we have the following folder structure

[code]

Although it is not wrong, it is rather inflexible;

1. we would have to look into the different folders just to have a clear view on the coverage of the component or module (such as test, any README file, or styles etc..)
2. moving a file, means moving two different files for two different context given the example above (e.g `__tests__

[2018-04-13 22:19] adnasa opened #191 "have redux-saga removed"
At the moment we are using `redux-saga`  as part of the state-management. This shouldn't be needed since the data-flow within the `dext` itself is pretty straight forward.

we can even go as far as to consider having `redux` removed.

There are some strong points where redux would shine in a smaller application like `dext` but they wouldn't outweigh simplicity nor attempt to just use `React`'s own

[2018-04-14 00:10] vutran commented on #189
This makes sense.

`jest`'s mock system is a bit weird. If I remember correctly, the root `__mocks__` directory usually store mocks for `node_modules`. For local modules, a `__mocks__` directory should be located alongside the file it is trying to mock.

## Example:

[code]

[2018-04-14 08:29] adnasa commented on #189
yeah absolutely, this makes sense of course, but we're going to have to decide as we do the migration.

Imagine the following on a larger scale

[code]

Given `a` and `b` requiring `c`, with your suggestion, where do we mock `c`? 😄
root folder of `src`? I'm asking because I don't have any extensive experience of putting mocks inside a `__mocks__` folder. only inline-mocking (with jest even). Maybe

[2018-04-14 10:10] adnasa opened #196 "add test for `utils/CacheConf`"

[2018-04-14 10:11] adnasa opened #197 "add test for `utils/conf`"

[2018-04-14 19:53] adnasa opened #202 "RFC: remove `app/renderer/src/schema`"
So for the moment we do have some "schema" defined under `app/renderer/src/schema`.

Al though there isn't anything inherently wrong with this, it is fragile, inflexible and a bit of an overkill. There are a couple of questions that opens up with this:

- what's the origin of the props?
- `ResultItemSchema` is used once, does it need its own file?
- `ThemeSchema` is set __once__, does the "schema"

[2018-04-14 23:04] vutran commented on #191
We decided to move forward with removing Redux for the new Context API. Let's try to get React updated to the latest version so we can get this new hotness ready for the migration.

[2018-04-14 23:08] adnasa commented on #191
I'm on it 😄

[2018-04-14 23:14] adnasa commented on #191
One cool thing about using `context` here would be to eliminate imports of `ipcRenderer`,
which essentially means that we leak `electron` functionality into our components.

Admittedly, I have yet to try out the new Context API, but even with the old approach, you could see the benefit

[code]

[2018-04-14 23:42] vutran commented on #197
We should merge `utils/conf` and `utils/CacheConf`, maybe even remove it in favor of a single conf. The additional layers makes it confusing.

[2018-04-14 23:43] vutran commented on #197
History: `utils/CacheConf` was originally extracted from one of Sindre's pkg which has it's own pkg now [here](https://github.com/samverschueren/cache-conf).

[2018-04-14 23:43] adnasa commented on #197
Sure, I'll merge them

[2018-04-14 23:44] adnasa commented on #197
okay, not sure if I'm going to look to it anytime soon.
I'll close the other ticket, that's what I meant with "merge" 😇

[2018-04-14 23:45] #196 closed, assigned to nobody

[2018-04-14 23:46] vutran commented on #197
I'm taking a look at this one.

[2018-04-15 00:19] #197 closed, assigned to vutran

[2018-04-15 00:27] adnasa commented on #197
🚀

[2018-04-15 11:45] adnasa commented on #189
I will close this now, since I'm pretty happy that we moved all the `.spec.js` files.
As for missing tests on components and other utilities, let's pick this up later.

Thanks for all the reviews!
😉

[2018-04-15 11:45] #189 closed, assigned to adnasa

[2018-04-15 18:40] #188 closed, assigned to adnasa

[2018-04-15 21:52] adnasa commented on #90
This is not interesting right now.
with 2.0 on the map, we will introduce heaps of breaking changes, so I say we address this when we get there

[2018-04-15 21:52] #90 closed

[2018-04-16 15:34] himanshuchauhan commented on #191
Can I start working on this? Anything essential I need to know before working on this?

[2018-04-16 15:38] vutran commented on #191
@himanshuchauhan Definitely. Let's try to keep the PR small since it's a huge migration. Ideally, we can move one state at a time. Please refer to PR #206 for an example of what we previously did. Let us know if you have any other questions.

Thanks!

[2018-04-16 16:00] adnasa opened #209 "upgrade react"

[2018-04-16 23:20] adnasa commented on #35
I just discovered this and I consider it not only an anti-pattern but a bad case of mix of concerns haha

[2018-04-16 23:23] adnasa opened #210 "remove destruct"
### Status quo

[code]

### Preferable

[code]

[2018-04-16 23:27] vutran commented on #35
I think this can be closed since we're moving away from `redux` anyways

[2018-04-16 23:33] adnasa commented on #35
hmmm... let's see how well removing `redux` goes first before we make hasty moves

[2018-04-16 23:34] #209 closed, assigned to adnasa

[2018-04-16 23:45] adnasa commented on #14
@vutran

**Issue list cleanup**; let's pick this up later?
if you agree, just close the things 😄

[2018-04-17 23:13] adnasa commented on #191
https://github.com/DextApp/dext/pull/211 🔥

[2018-05-08 00:35] vutran commented on #202
I like this idea. +1

[2018-05-08 00:40] vutran commented on #186
I'm down for this. I've used `greenkeeper` in the past but haven't tried `renovate` yet. One thing I disliked about automatic dependency updates is receiving too many emails/notifs but it does make sense as we scale out so we can avoid maintaining these small things.

[2018-05-17 00:04] #35 closed

[2018-05-17 00:04] #191 closed, assigned to nobody

[2018-05-17 06:58] adnasa commented on #191
🚀

[2018-05-18 02:57] vutran commented on #202
Donzo.

[2018-05-18 02:57] #202 closed, assigned to nobody

[2018-05-30 20:56] isao commented on #179
@anipro you can drag the icon on System Preferences > Users & Groups > Current User/Login Items

[2019-10-13 09:28] anmol5varma commented on #210
Is this issue still pending? @adnasa

[2019-10-14 08:11] adnasa commented on #210
this project is abandoned. @anmol5varma

[2019-10-14 08:11] #210 closed, assigned to nobody